body {
  background-color: #000;
  color: #fff;
}

.container-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.navbar {
  background-color: #111;
}

.navbar a {
  color: #fff;
}

.footer {
  background: #111;
  text-align: center;
  padding: 20px;
  color: #aaa;
}
#success-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

#success-overlay svg {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  stroke: white;
  stroke-width: 2;
  fill: none;
  animation: checkmark 0.6s ease-in-out forwards;
}

@keyframes checkmark {
  0% {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
